h1{
    text-align: center;
color: blueviolet;
}
#total{
width: 1000px;
height: auto;
margin: auto;
}
#topo{
 width: 1000px;
    height: 100px;
background-color: crimson;
















}